/** BOTÓN **/
.boton {
    text-align: center;
    font-size: 0.7rem;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    color: var(--ivory);
    padding: 5px 15px;
    border: 1px solid var(--ivory);
    font-family: 'Raleway', sans-serif;  
    font-size: clamp(10px, 1.5vw, 16px);
}
.boton:hover {
    color: var(--eerie_black);
    background-color: var(--ivory);
    border: 1px solid var(--eerie_black);
}

.boton-extendido {
    width: 90%;
}

/** TARJETAS **/
.tarjetas {
    gap: 15px;
    display: grid;
    justify-content: space-evenly;
    max-width: var(--limite_ancho_superior);
    grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
}

.tarjeta {
    padding: 40px 15px;
    border-radius: 20px;
    border: 2px solid var(--eerie_black);
    background-color: none;
    transition: background-color 0.3s ease-in-out;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.tarjeta:hover {
    background-color: var(--eerie_black);
}

.tarjeta img {
    max-width: 80px;
    margin: 0 auto;
}

.tarjeta h3 {
    text-align: center;
    margin: 15px 0;
    text-transform: initial;
}

.tarjeta p {
    font-size: 0.8em;
    text-align: center;
}

.tarjeta .boton {
    margin: 10px 0px;
}

.tarjeta a {
    font-size: 0.8em;
}