@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@300;400;500;700&family=Poppins:wght@200;300;400;700&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
}

.video {
    background: url('../Recursos/reforma_estela.mp4') no-repeat center fixed;
    background-size: cover;
}

@keyframes sc1 {
    0% { transform: translateX(-50%); }
    20% { transform: translateX(calc(-50% - 10px)); }
    40% { transform: translateX(-50%); }
    80% { transform: translateX(calc(-50% + 10px)); }
    100% { transform: translateX(-50%); }
}
@keyframes sc2 {
    0% { transform: translateX(-50%); }
    20% { transform: translateX(calc(-50% - 20px)); }
    40% { transform: translateX(-50%); }
    80% { transform: translateX(calc(-50% + 20px)); }
    100% { transform: translateX(-50%); }
}

.franja-1 {
    background: url('../Recursos/franja-1.svg') center;
    background-size: 15px 200px;
    animation: franja1 4s linear infinite;
}
.franja-2 {
    background: url('../Recursos/franja-2.svg') center;
    background-size: 15px 200px;
    animation: franja2 7s linear infinite;
}
.franja-3 {
    background: url('../Recursos/franja-3.svg') center;
    background-size: 15px 200px;
    animation: franja1 8s 500ms linear infinite;
}

@keyframes franja1 {
    from {background-position: 0px 0px;}
    to {background-position: 0px -200px;}
}
@keyframes franja2 {
    from {background-position: 0px 0px;}
    to {background-position: 0px 200px;}
}